# Server Config
PORT=5000
NODE_ENV=production

# Security
JWT_SECRET=your_jwt_secret_here

# Database
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/educart?retryWrites=true&w=majority

# External Services
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend URL
FRONTEND_URL=https://edu-cart-ten.vercel.app
